<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      The Perfect Selfie
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- ionic cordova run android -->
<ion-content style="background-color: gray; text-align: center;">
  <div >
    <img src="../assets/img/step-one.png">
    
    <ion-button expand="full" color="dark" (click)="toggleFlash()">
       Check for flaws
      <ion-icon name="{{isOn ? 'flash': 'flash-off'}}"></ion-icon>
    </ion-button>
  </div>
  <div>
    <img src="../assets/img/step-two.png">
    <ion-button color="dark" expand="full" (click)="TakePhotos()">Take Photo</ion-button>
    <ion-list *ngFor="let photo of photos">
      <ion-item>
        <img src={{photo}} style="width:200px; height:150px;" />
      </ion-item>
    </ion-list>
  </div>
</ion-content>